@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    margin:0;
    padding:0;
    font-family: 'Poppins','SpaceMono';
    box-sizing: border-box;
}

.container{
    width:100%;
    height:100vh;
    background-color: rgb(192, 189, 189);
    display:flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: rgb(38, 38, 38);
    padding:20px;
    border-radius: 10px;
}

.calculator form input{
    border:0;
    outline:0;
    width:60px;
    height:60px;
    border-radius: 50%;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(255,255,255,0.1);
    background: transparent;
    font-size:20px;
    margin:10px;
    cursor:pointer;
    color:#fff;
}

.calculator form input:hover{
    transform:scale(1.08);
    /* background-color:#fff;
    color:rgb(38, 38, 38);
    transition: all 0.1ms ease-in-out; */
    border-radius: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin:20px 0;
}

form .display input{
    text-align: right;
    flex:1;
    font-size:45;
    box-shadow: none;
    border-radius: 10px;
}

form .buttons #equal{
    background-color: #fb7c14;
}

form .buttons #func{
    color: #6dee0a;
}